:root{
    /* Color styles */
--text--title: rgba(35, 35, 38, 1);
--text--sub-title: rgba(52, 52, 52, 1);
--text--dark: rgba(58, 58, 58, 1);
--text--light: rgba(131, 131, 131, 1);
--text--white: rgba(255, 255, 255, 1);
--mainColor--raisin-black: rgba(35, 35, 38, 1);
--mainColor--brown-beige: rgba(205, 165, 128, 1);
--mainColor--light-gray: rgba(245, 245, 245, 1);

/* Text-size styles */

--mainpc--header---s_대메뉴: 20px;
--mainpc--header---g_중메뉴: 18px;
--mainpc--content--kr---g_최종가격: 22px;
--mainpc--content--kr---g_할인전가격: 16px;
--mainpc--content--kr---s_title: 34px;
--mainpc--content--kr---s_상품명: 20px;
--mainpc--content--kr---g_상품설명: 16px;
--mainpc--content--kr---g_상품설명2줄: 16px;
--mainpc--content--kr---g_이벤트-기간: 22px;
--mainpc--content--kr---g_비주얼title: 46px;
--mainpc--content--kr---g_본문: 22px;
--mainpc--content--en---g_subtitle: 16px;
--mainpc--footer--회사정보01: 18px;
--mainpc--footer--회사정보02: 18px;
--mainpc--footer--상세설명: 14px;
--mainpc--footer--메뉴01: 20px;
--mainpc--footer--메뉴02: 20px;
--mainpc--button--숫자: 18px;
--mainpc--button--전체보기자세히-보기: 18px;
--mainpc--button--바로가기팔로우: 16px;
}

/*공통 클래스*/

a{
text-decoration: none;
}
.container{
    width: 1920px;
}

.inner{
    max-width:1780px;
    margin: 0 auto;
}
.rel{
    position: relative;
}
.abs{
position: absolute;
}
.d-flex{
display: flex;
}
.i-flex{
    display: inline-flex;
}
.f-d{
    flex-direction: column;
}
.jcc{
justify-content: center;
}
.jcb{
justify-content: space-between;
}
.jce{
    justify-content: flex-end;
}
.aic{ 
align-items: center;
}
.aie{
align-items: flex-end;
}
.p170{
    padding: 170px 0;
}

.l-menu{
color: var(---, var(--Brown-Bage, #CDA580));
text-align: center;
/* 메인(한글)pc/헤더/S_대메뉴 */
font-family: MaruBuri;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 100% */
letter-spacing: -0.0375rem;
}

.title{
 color: var(---, var(--Title-Text, #232326));
text-align: center;
/* 메인(한글)pc/컨텐츠/한글/S_타이틀 */
font-family: MaruBuri;
font-size: 2.125rem;
font-style: normal;
font-weight: 600;
line-height: 2.125rem; /* 100% */
letter-spacing: -0.06375rem;
}
.w-title{
    color: var(---, var(--Title-Text, #f5f5f5));
   text-align: center;
   /* 메인(한글)pc/컨텐츠/한글/S_타이틀 */
   font-family: MaruBuri;
   font-size: 2.125rem;
   font-style: normal;
   font-weight: 600;
   line-height: 2.125rem; /* 100% */
   letter-spacing: -0.06375rem;
   }

.s-title{
color: var(---, var(--Brown-Bage, #CDA580));
text-align: center;
/* 메인(한글)pc/컨텐츠/영문/G_서브타이틀 */
font-family: "Noto Sans KR";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 100% */
letter-spacing: -0.03rem;
}

.title-2{
    color: var(---_, var(--Dark-Text, #3A3A3A));
    text-align: center;
    /* 메인(한글)pc/컨텐츠/한글/G_본문 */
    font-family: "Noto Sans KR";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 145.455% */
    letter-spacing: -0.04125rem;
}

.text01-2d{
    color: var(---_, var(--Dark-Text, #3A3A3A));
    text-align: center;
    /* 메인(한글)pc/컨텐츠/한글/G_상품설명2줄 */
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-style: normal;
    font-weight: 350;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: -0.03rem;
}

.text01-2w{
    color: var(---, var(--White-Text, #f5f5f5));
    text-align: center;
    /* 메인(한글)pc/컨텐츠/한글/G_상품설명2줄 */
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-style: normal;
    font-weight: 350;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: -0.03rem;
}