:root{
    /* Color styles */
--text--title: rgba(35, 35, 38, 1);
--text--sub-title: rgba(52, 52, 52, 1);
--text--dark: rgba(58, 58, 58, 1);
--text--light: rgba(131, 131, 131, 1);
--text--white: rgba(255, 255, 255, 1);
--mainColor--raisin-black: rgba(35, 35, 38, 1);
--mainColor--brown-beige: rgba(205, 165, 128, 1);
--mainColor--light-gray: rgba(245, 245, 245, 1);

/* Text-size styles */

--mainpc--header---s_L-menu: 20px;
--mainpc--header---g_M-menu: 18px;
--mainpc--content--kr---g_tag01: 22px;
--mainpc--content--kr---g_tag02: 16px;
--mainpc--content--kr---s_title: 34px;
--mainpc--content--kr---s_pd-name: 20px;
--mainpc--content--kr---g_pd-text: 16px;
--mainpc--content--kr---g_pd-text2l: 16px;
--mainpc--content--kr---g_event-기간: 22px;
--mainpc--content--kr---g_visual-title: 46px;
--mainpc--content--kr---g_text01: 22px;
--mainpc--content--en---g_subtitle: 16px;
--mainpc--footer--company-01: 18px;
--mainpc--footer--company02: 18px;
--mainpc--footer--text02: 14px;
--mainpc--footer--menu01: 20px;
--mainpc--footer--menu02: 20px;
--mainpc--button--number: 18px;
--mainpc--button--view-more: 18px;
--mainpc--button--go-follow: 16px;
}

/*공통 클래스*/

a{
text-decoration: none;
}
.container{
    width: 1920px;
}

.inner{
    max-width:1780px;
    margin: 0 auto;
}
.rel{
    position: relative;
}
.abs{
position: absolute;
}
.d-flex{
display: flex;
}
.i-flex{
    display: inline-flex;
}
.f-d{
    flex-direction: column;
}
.jcc{
justify-content: center;
}
.jcb{
justify-content: space-between;
}
.jce{
    justify-content: flex-end;
}
.aic{ 
align-items: center;
}
.aie{
align-items: flex-end;
}
.ais{
    align-items: flex-start;
}
.p170{
    padding: 170px 0;
}

.l-menu{
text-align: center;
/* 메인(한글)pc/헤더/S_L-menu */
font-family: MaruBuri;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 100% */
letter-spacing: -0.0375rem;
}

.title{
text-align: center;
/* 메인(한글)pc/컨텐츠/한글/S_타이틀 */
font-family: MaruBuri;
font-size: 2.125rem;
font-style: normal;
font-weight: 600;
line-height: 2.125rem; /* 100% */
letter-spacing: -0.06375rem;
}

.s-title{
text-align: center;
/* 메인(한글)pc/컨텐츠/영문/G_서브타이틀 */
font-family: "Noto Sans KR";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 100% */
letter-spacing: -0.03rem;
}

.text01{
    text-align: center;
    /* 메인(한글)pc/컨텐츠/한글/G_본문 */
    font-family: "Noto Sans KR";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 145.455% */
    letter-spacing: -0.04125rem;
}

.text02-2{
    text-align: center;
    /* 메인(한글)pc/컨텐츠/한글/G_상품설명2줄 */
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-style: normal;
    font-weight: 350;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: -0.03rem;
}

.v-text{
color: var(---, var(--Light-Gray, #F5F5F5));
/* 메인(한글)pc/컨텐츠/한글/G_비주얼타이틀 */
font-family: "Noto Sans KR";
font-size: 2.875rem;
font-style: normal;
font-weight: 500;
line-height: 3.625rem; /* 126.087% */
letter-spacing: -0.08625rem;
}

.v-span{
color: var(---, var(--Brown-Bage, #CDA580));
/* 메인(한글)pc/컨텐츠/한글/G_비주얼타이틀 */
font-family: "Noto Sans KR";
font-size: 2.875rem;
font-style: normal;
font-weight: 500;
line-height: 3.625rem;
letter-spacing: -0.08625rem;
}
.btn01{
color: var(---, var(--Light-Gray, #F5F5F5));
text-align: center;
/* 메인(한글)pc/버튼/바로가기,팔로우 */
font-family: "Noto Sans KR";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 100% */
letter-spacing: -0.03rem;
}