:root{
    /* Color styles */
--text--title: rgba(35, 35, 38, 1);
--text--서브-title: rgba(52, 52, 52, 1);
--text--본문_다크: rgba(58, 58, 58, 1);
--text--본문_라이트: rgba(131, 131, 131, 1);
--text--화이트: rgba(255, 255, 255, 1);
--mainColor--레이즌-블랙: rgba(35, 35, 38, 1);
--mainColor--브라운-베이지: rgba(205, 165, 128, 1);
--mainColor--라이트-그레이: rgba(245, 245, 245, 1);

/* Text-size styles */

--mainpc--헤더---s_대메뉴: 20px;
--mainpc--헤더---g_중메뉴: 18px;
--mainpc--컨텐츠--한글---g_최종가격: 22px;
--mainpc--컨텐츠--한글---g_할인전가격: 16px;
--mainpc--컨텐츠--한글---s_title: 34px;
--mainpc--컨텐츠--한글---s_상품명: 20px;
--mainpc--컨텐츠--한글---g_상품설명: 16px;
--mainpc--컨텐츠--한글---g_상품설명2줄: 16px;
--mainpc--컨텐츠--한글---g_이벤트-기간: 22px;
--mainpc--컨텐츠--한글---g_비주얼title: 46px;
--mainpc--컨텐츠--한글---g_본문: 22px;
--mainpc--컨텐츠--영문---g_서브title: 16px;
--mainpc--푸터--회사정보01: 18px;
--mainpc--푸터--회사정보02: 18px;
--mainpc--푸터--상세설명: 14px;
--mainpc--푸터--메뉴01: 20px;
--mainpc--푸터--메뉴02: 20px;
--mainpc--버튼--숫자: 18px;
--mainpc--버튼--전체보기자세히-보기: 18px;
--mainpc--버튼--바로가기팔로우: 16px;
}