#hd{
    padding: 22px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    h1{
        width: 0;
    }
    #allMenu{
        width:1.5rem;
        height: 1.5rem;
        background: url("/images/icon/button/ham.svg") no-repeat center;
        &.on {
            background-image: url("/images/icon/button/close.svg" )no-repeat center;
            @media (min-width:991px)
                {
                    display: none;
                } 
    }
}
    .gnb{
        gap: 4.375rem;
        a {
            color: var(---, var(--Brown-Bage, #CDA580));
            
        }
    }
    .util{
        gap: 1.875rem;
        width: 0;
    }
}

#c01{
    width: 120rem;
    height: auto;
    ul{
        gap: 3.125rem;
    }
    ul li{
        text-align: center;
        
    }
}

#c02{

    .box01{
        width: 100%;
        background-image: url(/images/img/c02_01.jpg);
    }
    .box02{
        width: 100%;
        background-image: url(/images/img/c02_02.jpg);
    }
}




