#hd {
  padding-top: 22px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#hd h1 {
  width: 0;
}
#hd #allMenu {
  width: 1.5rem;
  height: 1.5rem;
  background: url("/images/icon/button/ham.svg") no-repeat center;
}
#hd #allMenu.on {
  background-image: url("/images/icon/button/close.svg") no-repeat center;
}
@media (min-width: 991px) {
  #hd #allMenu.on {
    display: none;
  }
}
#hd .gnb {
  gap: 4.375rem;
}
#hd .util {
  gap: 1.875rem;
  width: 0;
}